<app-loader [show]="showLoader"></app-loader>
<div class="content-wrapper">
  <header>Covid Vaccine Assist</header>
  <div class="input-wrapper">
    <div class="form__group field">
      <input type="number" class="form__field" placeholder="Pincode" name="pincode" id='pincode' required  [ngModel]="pincode" (ngModelChange)="validatePinCode($event)" />
      <label for="pincode" class="form__label">Pincode</label>
     <p *ngIf="!validPincode" class="invalid">Invalid Pin</p>
    </div>
    <div class="form__group field">
      <!-- <input type="input" class="form__field" placeholder="Date" name="date" id='date' [ngModel]="date" (ngModelChange)="validateDate($event)"required />
      <label for="date" class="form__label">Date</label> -->
      <input placeholder="yyyy-mm-dd" class="form__field" readonly="readonly"
      name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="validateDate($event)">
<div class="input-group-append">
 <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">🗓️</button>
</div>
    </div>
  </div>
  <button (click)="getSchedule()" >Get schedule</button>
  <div *ngIf="dataGot" class="table-data">
    <table class="vaccine">
      <thead>
        <tr>           
          <th>District</th>
          <th>Block</th>
          <th>Slot Date</th>
          <th>Slots Timings</th>
          <th>Slot Venue</th>
          <th>Available Capacity</th>
          <th>Vaccine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">         
          <td>{{item.district_name}}</td>
          <td>{{item.block_name}}</td>
          <td>{{item.date}}</td> 
          <td>{{item.slots}}</td>
          <td>{{item.name}}</td>
          <td>{{item.available_capacity}}</td> 
          <td>{{item.vaccine}}</td>    
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!dataGot" class="no-data">
    Oops, no data found. Enter valid pincode and date.
  </div>
</div>
